.small-button, .coffee-menu-button img, .coffee-menu-button span {
  transition: all 0.5s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Verdana, sans-serif;
  background-color: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  color: #E1D4C9;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.selected-text {
  color: #B0907A;
  font-style: italic;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #403F3D;
}

.big-button {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.button-text {
  font-family: "Inter", Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.coffee-menu-button {
  background: #E1D4C9;
  padding: 20px 0;
  border: none;
  position: relative;
}
.coffee-menu-button:hover span {
  padding-right: 28px;
}
.coffee-menu-button img {
  opacity: 0;
  position: absolute;
  left: 108px;
}
.coffee-menu-button:hover img {
  opacity: 1;
}

.small-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  outline: none;
  background: none;
  cursor: pointer;
}

.button-icon-dark {
  border: 1px solid #665F55;
}
.button-icon-dark:hover {
  background-color: #665F55;
}
.button-icon-dark:hover .arrow {
  background-image: url(../assets/icons/arrow-hover.svg);
}

.wrapper {
  max-width: 1360px;
  margin: auto;
}

.header {
  margin: 20px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  height: 60px;
}

.navigation {
  display: flex;
}

.navigation-link {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
}
.navigation-link:last-child {
  margin: 0;
}

.coffee-menu-link {
  display: flex;
  align-items: flex-start;
}

.coffee-cup {
  padding-left: 8px;
}

.promo {
  margin-bottom: 100px;
}

.promo-wrapper {
  height: 644px;
  position: relative;
  padding: 100px;
}

.promo-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
  top: 0;
  left: 0;
}

.promo-content {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.promo-text {
  color: #E1D4C9;
  margin: 40px 0;
}

.favorite-coffee-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  margin: 40px 0;
}

.slider-arrow {
  display: flex;
  align-items: center;
}

.arrow {
  background: url(../assets/icons/arrow.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.arrow-right {
  transform: rotate(180deg);
}

#arrow-left {
  cursor: auto;
}

.slide {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  justify-content: center;
  margin: 0 40px;
}

.slide-content {
  display: flex;
  width: 480px;
  flex-direction: column;
  align-items: center;
}
.slide-content p:nth-last-child(2) {
  text-align: center;
  margin: 16px 0;
}
.slide-content p:last-child {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-image {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;
}

.controls-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 100px;
}

.control {
  width: 40px;
  height: 4px;
  background: #C1B6AD;
  border-radius: 100px;
}

.--active {
  background: #665F55;
}/*# sourceMappingURL=style.css.map */