.small-img-wrapper, .big-img-wrapper, .small-button, .coffee-menu-button img, .coffee-menu-button span, .big-button, .link::after {
  transition: all 0.5s ease-out;
}

.button-text, body {
  font-family: "Inter", Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  color: #E1D4C9;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.selected-text {
  color: #B0907A;
  font-style: italic;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #403F3D;
}

.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #403F3D;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.link:hover::after {
  width: 100%;
}

.big-button {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.button-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
}

.coffee-menu-button {
  background: #E1D4C9;
  padding: 20px 0;
  border: none;
  position: relative;
}
.coffee-menu-button:hover span {
  padding-right: 28px;
}
.coffee-menu-button img {
  opacity: 0;
  position: absolute;
  left: 108px;
}
.coffee-menu-button:hover img {
  opacity: 1;
}

.small-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  outline: none;
  background: none;
  cursor: pointer;
}

.button-icon-dark {
  border: 1px solid #665F55;
}
.button-icon-dark:hover {
  background-color: #665F55;
}
.button-icon-dark:hover .button-text {
  color: #E1D4C9;
}

.button-icon-light {
  border: 1px solid #E1D4C9;
}

.download-button-txt {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 8px;
}
.download-button-txt span:first-child {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 2px;
}

.download-button {
  justify-content: start;
  background: none;
  padding: 12px 20px;
}
.download-button:first-child {
  margin-right: 20px;
}
.download-button:hover .app-store-ico {
  background-image: url(../assets/icons/apple-icon-hover.svg);
}
.download-button:hover .google-play-ico {
  background-image: url(../assets/icons/google-play-icon-hover.svg);
}

.social-button:hover {
  background: #E1D4C9;
}
.social-button:hover .twitter-ico {
  background-image: url(../assets/icons/twitter-hover.svg);
}
.social-button:hover .inst-ico {
  background-image: url(../assets/icons/instagram-hover.svg);
}
.social-button:hover .facebook-ico {
  background-image: url(../assets/icons/facebook-hover.svg);
}

.wrapper {
  max-width: 1360px;
  margin: auto;
}

.header {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 20px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  height: 60px;
}

.navigation {
  display: flex;
}

.navigation-link {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
}
.navigation-link:last-child {
  margin: 0;
}
.navigation-link a {
  margin-bottom: 2px;
}

.coffee-menu {
  height: 26px;
}

.coffee-menu-link {
  display: flex;
  align-items: flex-start;
}

.coffee-cup {
  padding-left: 8px;
}

.layout-2-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.layout-2-columns > * {
  flex-basis: 46%;
}

.footer {
  margin-bottom: 40px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  color: #E1D4C9;
  background: #665F55;
  border-radius: 40px;
  padding: 100px;
}

.footer-offer {
  max-width: 45.8%;
}

.socials-wrapper {
  display: flex;
  margin-top: 40px;
}
.socials-wrapper button:nth-child(2) {
  margin: 0 12px;
}

.social-ico {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.twitter-ico {
  background-image: url(../assets/icons/twitter.svg);
}

.inst-ico {
  background-image: url(../assets/icons/instagram.svg);
}

.facebook-ico {
  background-image: url(../assets/icons/facebook.svg);
}

.contacts-info-wrapper h3 {
  margin-bottom: 38px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacts-info .link:first-child:after {
  bottom: -2px;
}
.contacts-info .link::after {
  bottom: -3px;
}

.contact-link {
  color: #E1D4C9;
}
.contact-link:first-child {
  width: 182px;
}
.contact-link:nth-child(2) {
  width: 175px;
}
.contact-link img {
  margin-right: 3px;
}
.contact-link::after {
  background-color: #E1D4C9;
}

.promo {
  margin-bottom: 100px;
}

.promo-wrapper {
  height: 644px;
  position: relative;
  padding: 100px;
}

.promo-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
  top: 0;
  left: 0;
}

.promo-content {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.promo-text {
  color: #E1D4C9;
  margin: 40px 0;
}

.favorite-coffee-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  margin: 40px 0;
}

.slider-arrow {
  display: flex;
  align-items: center;
}

.arrow {
  background: url(../assets/icons/arrow.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.arrow-right {
  transform: rotate(180deg);
}

#arrow-left {
  cursor: auto;
}

.arrow-btn:hover .arrow {
  background-image: url(../assets/icons/arrow-hover.svg);
}

.slide {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  justify-content: center;
  margin: 0 40px;
}

.slide-content {
  display: flex;
  width: 480px;
  flex-direction: column;
  align-items: center;
}
.slide-content p:nth-last-child(2) {
  text-align: center;
  margin: 16px 0;
}
.slide-content p:last-child {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-image {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;
}

.controls-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 100px;
}

.control {
  width: 40px;
  height: 4px;
  background: #C1B6AD;
  border-radius: 100px;
}

.--active {
  background: #665F55;
}

.about {
  margin-bottom: 100px;
}

.big-img-wrapper {
  width: 660px;
  height: 590px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.big-img-wrapper:hover {
  background-size: 100%;
}

.small-img-wrapper {
  width: 660px;
  height: 430px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.small-img-wrapper:hover {
  background-size: 100%;
}

.column-1 .big-img-wrapper {
  background-image: url(../assets/images/about-1.jpg);
  margin-bottom: 40px;
}
.column-1 .small-img-wrapper {
  background-image: url(../assets/images/about-2.jpg);
}

.column-2 .small-img-wrapper {
  background-image: url(../assets/images/about-3.jpg);
  margin-bottom: 40px;
}
.column-2 .big-img-wrapper {
  background-image: url(../assets/images/about-4.jpg);
}

.mobile-app {
  margin-bottom: 100px;
}

.download-offer p {
  margin: 40px 0;
}

.app-store-ico {
  width: 36px;
  height: 36px;
  background-image: url(../assets/icons/apple-icon.svg);
}

.google-play-ico {
  width: 36px;
  height: 36px;
  background-image: url(../assets/icons/google-play-icon.svg);
}

.download-buttons-wrapper {
  display: flex;
}/*# sourceMappingURL=style.css.map */