.burger-menu {
    position: relative;
    width: 44px;
    height: 44px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid $color-background-dark;
    @include media-tablet {
        display: flex;
    }
    &.--active {
        .burger-line:first-child {
            position: absolute;
            transform: rotate(-45deg);
        }
        .burger-line:last-child {
            position: absolute;
            transform: rotate(45deg);
        }
    }
}

.burger-line {
    width: 18px;
    height: 2px;
    background: $color-text-dark;
    border-radius: 2px;
    @extend %transition;
}