.big-button {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
}

.button-text {
    @extend %font-family;
    @include font(16px, normal, 600, 150%);
    color: $color-text-dark;
}

.coffee-menu-button {
    background: $color-light;
    padding: 20px 0;
    border: none;
    position: relative;
    & span {
        @extend %transition;
    }
    &:hover span {
        padding-right: 28px;
    }
    & img {
        opacity: 0;
        position: absolute;
        left: 108px;
        @extend %transition;
    }
    &:hover img {
        opacity: 1;
    }
}

.small-button {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    outline: none;
    background: none;
    cursor: pointer;
    @extend %transition;
}

.button-icon-dark {
    border: 1px solid $color-background-dark;
    &:hover {
        background-color: $color-background-dark;
        .arrow {
            background-image: url(../assets/icons/arrow-hover.svg);
        }
    }
}