.about {
    margin-bottom: 100px;
}

.big-img-wrapper {
    @include image-box(660px, 590px, 20px);
    @extend %transition;
    &:hover {
        background-size: 100%;
    }
    @include media-laptop {
        @include image-box(688px, 590px, 20px);
        background-size: 105% 
    }
}

.small-img-wrapper {
    @include image-box(660px, 430px, 20px);
    @extend %transition;
    &:hover {
        background-size: 100%;
    }
    @include media-laptop {
        display: none;
    }
}

.column-1 {
    .big-img-wrapper {
        background-image: url(../assets/images/about-1.jpg);
        margin-bottom: 40px;
    }
    .small-img-wrapper {
        background-image: url(../assets/images/about-2.jpg);
    }
}

.column-2 {
    .small-img-wrapper {
        background-image: url(../assets/images/about-3.jpg);
        margin-bottom: 40px;
    }
    .big-img-wrapper {
        background-image: url(../assets/images/about-4.jpg);
    }
}