.favorite-coffee-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    margin: 40px 0;
}

.slider-arrow {
    display: flex;
    align-items: center;
}

.arrow {
    background: url(../assets/icons/arrow.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
}

.arrow-right {
    transform: rotate(180deg);
}

#arrow-left {
    cursor: auto;
}

.slide {
    display: flex;
    width: 1152px;
    min-width: 480px;
    max-width: 1162px;
    justify-content: center;
    margin: 0 40px;
}

.slide-content {
    display: flex;
    width: 480px;
    flex-direction: column;
    align-items: center;
    & p:nth-last-child(2) {
        text-align: center;
        margin: 16px 0;
    }
    & p:last-child {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
}

.slider-image {
    width: 480px;
    height: 480px;
    margin-bottom: 20px;
}

.controls-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 100px;
}

.control {
    width: 40px;
    height: 4px;
    background: $color-border-light;
    border-radius: 100px;
}

.--active {
    background: $color-background-dark;
}