.header {
    @include font(16px, normal, 600, 150%);
    margin: 20px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    height: 60px;
}

.navigation {
    display: flex;
}

.navigation-link {
    list-style: none;
    margin-right: 40px;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    & a {
        margin-bottom: 2px;
    }
}

.coffee-menu {
    height: 26px;
}

.coffee-menu-link {
    display: flex;
    align-items: flex-start;
}

.coffee-cup {
    padding-left: 8px;
}